.git
.github
.idea
.next
.vercel
coverage
backend
node_modules
tmp
__pycache__
*.pyc
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.env
.env.*
!.env.example
Dockerfile
README.md
TESTING.md
